@use "../../base";

div.container {
    @include base.basic_flex();
    flex-direction: column;
    height: 100%;
    width: 100%;

    .title {
        font-size: 4.5rem;
        font-weight: bold;
        margin-top: 17%;
    }

    .buttons {
        @include base.basic_flex();
        gap: 1rem;
        margin-top: 1rem;

        button {
            width: 7rem;
            padding: 0.5rem 0;
            border-radius: 5px;
            cursor: pointer;
            border: 1px solid grey;
            background-color: transparent;
        }

        button:hover {
            background-color: whitesmoke;
        }

    }

    .copy {
        @include base.basic_flex();
        margin-top: auto;
        margin-bottom: 1rem;

        svg {
            height: 45px;
        }

        a {
            font-size: 0.8rem;
            color: black;
            text-decoration: none;
        }
    }
}

div.container::before {
    @include base.background('../../assets/pattern_bg.jpg', 0.4);
}

@media(max-width: 1024px) {
    div.container .title {
        margin-top: 35%;
    }
}

@media(max-width: 767px) {
    div.container {

        .title {
            margin-top: 30vh;
        }

        .buttons button {
            width: 10rem;
            font-size: 1.2rem; 
        }
    }
}