@use "../../../base";

div.container {
    height: 80%;
    width: 90%;
    border: 2.3px solid black;
    box-shadow: -10px 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); 
}

div.cell {
    @include base.basic_flex();
    border: 3px solid whitesmoke;
    font-weight: bold;
    font-size: 3rem;
}

@media(max-width: 1024px) {
    div.container {
        height: 90%;
        width: 100%;
    }
}