div.container {
    height: 40vw;
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 1024px) {
    div.container {
        height: 50vw;
        width: 40vw;
    }
}