@use '../../base';

div.container {
    @include base.basic_flex();
    height: 20%;

    div.you, div.opponent {
        @include base.basic_flex();
        flex-direction: column;
        height: 100%;
        width: 35%;

        p.title {
            font-weight: bold;
        }

        div.gif {
            height: 90%;
        }

        img {
            height: 100%;
        }
    }

    div.you > p.title {
        color: tomato;
    }
}