@use "../../base";

div.container {
    @include base.basic_flex();
    flex-direction: column;
    // gap: 3rem;
    height: 100%;
    width: 100%;

    .header {
        @include base.basic_flex();
        flex-direction: column;
        background-color: rgba(235, 64, 52, 0.6);
        height: 40%;
        width: 100%;
    }

    p.text {
        font-size: 3rem;
        font-weight: bold;
        color: whitesmoke;
    }

    p.subtext {
        font-size: 0.8rem;
        color: whitesmoke;
    }

    form {
        @include base.basic_flex();
        gap: 1rem;
        height: 60%;
        width: 100%;
    }

    input[type="text"] {
        height: 4rem;
        width: 30rem;
        padding: 0 2rem;
        font-size: 2rem;
        border-radius: 50px;
        background-color: transparent;
        font-weight: 200;
    }

    input:focus {
        outline: none;
    }
}


div.container::before {
    @include base.background('../../assets/squiggly_bg.jpg', 0.03);
}