@mixin basic_flex() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin background($url, $opacity) {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url($url) no-repeat center center;
    background-size: cover;
    opacity: $opacity;
    z-index: -1;
}

@mixin blocky() {
    box-shadow: inset 2px 2px 0 rgba(255, 255, 255, 0.5),
        inset -2px -2px 0 rgba(0, 0, 0, 0.5);
}