@use "../../base";

$red: rgb(180, 36, 36);
$darkRed: rgb(131, 0, 0);

div.container {
    @include base.basic_flex();
    width: 20rem;
    border-radius: 5px;
    align-items: start;
    justify-content: start;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    position: absolute;
    top: 10px;

    div.header {
        @include base.basic_flex();
    }

    p.title {
        font-weight: 600;
        color: $darkRed;
    }

    div.message {
        font-size: 0.8rem;
    }

    svg {
        height: 35px;
    }
}